In [1]:
# Wrestling Companies Knowledge Base (Sales-first) - Starter Dataset
# Works in Jupyter Notebook

import pandas as pd
from datetime import date

# ---------------------------
# 1) Promotions / Companies
# ---------------------------
promotions = pd.DataFrame([
    # Core / requested
    {"promotion_id":"WWE",  "name":"WWE",  "brand_group":"WWE/TKO", "country":"US", "founded_year":1953, "status":"active", "notes":"World Wrestling Entertainment"},
    {"promotion_id":"WCW",  "name":"WCW",  "brand_group":"Turner",  "country":"US", "founded_year":1988, "status":"defunct", "notes":"World Championship Wrestling"},
    {"promotion_id":"NWA",  "name":"NWA",  "brand_group":"NWA",     "country":"US", "founded_year":1948, "status":"active", "notes":"National Wrestling Alliance"},
    {"promotion_id":"ECW",  "name":"ECW",  "brand_group":"ECW",     "country":"US", "founded_year":1992, "status":"defunct", "notes":"Extreme Championship Wrestling"},
    {"promotion_id":"AAA",  "name":"AAA",  "brand_group":"AAA",     "country":"MX", "founded_year":1992, "status":"active", "notes":"Lucha Libre AAA Worldwide"},
    # Added
    {"promotion_id":"AEW",  "name":"AEW",  "brand_group":"AEW",     "country":"US", "founded_year":2019, "status":"active", "notes":"All Elite Wrestling"},
    {"promotion_id":"NJPW", "name":"NJPW", "brand_group":"Bushiroad","country":"JP", "founded_year":1972, "status":"active", "notes":"New Japan Pro-Wrestling"},
    {"promotion_id":"TNA",  "name":"TNA",  "brand_group":"Anthem",  "country":"US", "founded_year":2002, "status":"active", "notes":"TNA / Impact Wrestling lineage"},
    {"promotion_id":"ROH",  "name":"ROH",  "brand_group":"AEW",     "country":"US", "founded_year":2002, "status":"active", "notes":"Ring of Honor"},
    # Catch-all
    {"promotion_id":"OTHER","name":"OTHER","brand_group":"Various", "country":"",   "founded_year":None, "status":"varies", "notes":"Use for indies / unknown / misc"},
])

# ---------------------------
# 2) Merch Products (dim)
# ---------------------------
merch_products = pd.DataFrame([
    # Basic merch archetypes (linkable to promotions, events, wrestlers)
    {"product_id":"TEE_STD",   "product_name":"T-Shirt (Standard)", "category":"apparel", "subcategory":"t-shirt", "unit_cost_est":6.50, "base_price":29.99},
    {"product_id":"HOODIE",    "product_name":"Hoodie",             "category":"apparel", "subcategory":"hoodie",  "unit_cost_est":14.00,"base_price":59.99},
    {"product_id":"HAT",       "product_name":"Hat/Cap",            "category":"apparel", "subcategory":"hat",     "unit_cost_est":5.00, "base_price":24.99},
    {"product_id":"POSTER",    "product_name":"Poster",             "category":"collectibles","subcategory":"poster","unit_cost_est":1.50,"base_price":14.99},
    {"product_id":"FIGURE",    "product_name":"Action Figure",      "category":"collectibles","subcategory":"figure","unit_cost_est":9.00,"base_price":34.99},
    {"product_id":"BELT_REP",  "product_name":"Replica Title Belt", "category":"premium", "subcategory":"belt",    "unit_cost_est":80.00,"base_price":399.99},
    {"product_id":"DVD",       "product_name":"DVD/Blu-ray",        "category":"media",   "subcategory":"dvd",     "unit_cost_est":2.25, "base_price":19.99},
    {"product_id":"STREAM_SUB","product_name":"Streaming Sub (Monthly)","category":"media","subcategory":"subscription","unit_cost_est":0.00,"base_price":9.99},
])

# ---------------------------
# 3) Wrestlers (optional dim)
# ---------------------------
wrestlers = pd.DataFrame([
    {"wrestler_id":"GENERIC_001","ring_name":"(Generic Star)","country":"US","style":"power/technical","debut_year":None,"notes":"Replace with real roster data"},
])

# ---------------------------
# 4) Techniques / Moves (dim)
# ---------------------------
moves = pd.DataFrame([
    # Lucha + strong style + US mainstream archetypes
    {"move_id":"SUPLEX_GERMAN", "move_name":"German Suplex",   "type":"throw",   "risk_level":"medium", "kayfabe_impact":"high"},
    {"move_id":"DDT",           "move_name":"DDT",             "type":"strike",  "risk_level":"medium", "kayfabe_impact":"high"},
    {"move_id":"PILEDRIVER",    "move_name":"Piledriver",      "type":"drop",    "risk_level":"high",   "kayfabe_impact":"very_high"},
    {"move_id":"CLOTHESLINE",   "move_name":"Clothesline",     "type":"strike",  "risk_level":"low",    "kayfabe_impact":"medium"},
    {"move_id":"SUPERKICK",     "move_name":"Superkick",       "type":"strike",  "risk_level":"medium", "kayfabe_impact":"high"},
    {"move_id":"DRAGON_SCREW",  "move_name":"Dragon Screw",    "type":"joint",   "risk_level":"medium", "kayfabe_impact":"medium"},
    {"move_id":"TOPE",          "move_name":"Tope Suicida",    "type":"dive",    "risk_level":"high",   "kayfabe_impact":"very_high"},
    {"move_id":"MOONSAULT",     "move_name":"Moonsault",       "type":"aerial",  "risk_level":"high",   "kayfabe_impact":"very_high"},
    {"move_id":"ARMBAR",        "move_name":"Armbar",          "type":"submission","risk_level":"low",  "kayfabe_impact":"high"},
    {"move_id":"FIG4",          "move_name":"Figure-Four Leglock","type":"submission","risk_level":"low","kayfabe_impact":"high"},
])

# ---------------------------
# 5) Sales Fact Table (daily)
#    - the heart of "sales-first"
# ---------------------------
sales_daily = pd.DataFrame([
    # Example rows you can expand with real exports (Shopify, WWE Shop, event POS, etc.)
    {
        "sales_id":"S0001",
        "sale_date":pd.to_datetime("2026-02-01"),
        "promotion_id":"WWE",
        "channel":"ecommerce",        # ecommerce | venue | third_party | subscription
        "region":"US",
        "product_id":"TEE_STD",
        "wrestler_id":None,           # optional: link to wrestler if product is talent-specific
        "event_name":None,            # optional: link to an event
        "units_sold":1200,
        "unit_price":29.99,
        "discount_pct":0.10,
        "shipping_revenue":0.0,
        "fees_est":0.0,
    },
    {
        "sales_id":"S0002",
        "sale_date":pd.to_datetime("2026-02-01"),
        "promotion_id":"AEW",
        "channel":"venue",
        "region":"US",
        "product_id":"POSTER",
        "wrestler_id":None,
        "event_name":"Live Event (Example)",
        "units_sold":350,
        "unit_price":14.99,
        "discount_pct":0.0,
        "shipping_revenue":0.0,
        "fees_est":0.0,
    },
    {
        "sales_id":"S0003",
        "sale_date":pd.to_datetime("2026-02-01"),
        "promotion_id":"NJPW",
        "channel":"ecommerce",
        "region":"JP",
        "product_id":"FIGURE",
        "wrestler_id":None,
        "event_name":None,
        "units_sold":90,
        "unit_price":34.99,
        "discount_pct":0.0,
        "shipping_revenue":0.0,
        "fees_est":0.0,
    },
])

# Compute derived metrics (revenue, net, margin estimates)
sales_daily["gross_revenue"] = sales_daily["units_sold"] * sales_daily["unit_price"] * (1 - sales_daily["discount_pct"])
sales_daily = sales_daily.merge(merch_products[["product_id","unit_cost_est"]], on="product_id", how="left")
sales_daily["cogs_est"] = sales_daily["units_sold"] * sales_daily["unit_cost_est"]
sales_daily["net_revenue_est"] = sales_daily["gross_revenue"] + sales_daily["shipping_revenue"] - sales_daily["fees_est"]
sales_daily["gross_margin_est"] = sales_daily["net_revenue_est"] - sales_daily["cogs_est"]

# ---------------------------
# 6) Move usage (techniques analytics)
# ---------------------------
move_usage = pd.DataFrame([
    # You can log match-level or show-level usage and later aggregate by promotion/style
    {"usage_id":"MU0001","match_date":pd.to_datetime("2026-02-01"),"promotion_id":"NJPW","wrestler_id":"GENERIC_001","move_id":"DRAGON_SCREW","attempts":6,"landed":5,"finish_attempt":0,"notes":"Leg work sequence"},
    {"usage_id":"MU0002","match_date":pd.to_datetime("2026-02-01"),"promotion_id":"AAA","wrestler_id":"GENERIC_001","move_id":"TOPE","attempts":2,"landed":2,"finish_attempt":0,"notes":"High-flying spot"},
])

move_usage["success_rate"] = (move_usage["landed"] / move_usage["attempts"]).fillna(0)

# ---------------------------
# 7) Sources (collaboration + provenance)
# ---------------------------
sources = pd.DataFrame([
    {"source_id":"SRC001","source_type":"manual_entry","added_by":"you","added_on":pd.to_datetime(date.today()),"notes":"Starter dataset skeleton"},
    # add sources like: "shopify_export", "pos_report", "marketplace_scrape", "wiki_reference", etc.
])

# ---------------------------
# Convenience views / examples
# ---------------------------

def promo_sales_summary(df_sales: pd.DataFrame) -> pd.DataFrame:
    """Revenue + units by promotion/channel."""
    return (df_sales
            .groupby(["promotion_id","channel"], as_index=False)
            .agg(units_sold=("units_sold","sum"),
                 gross_revenue=("gross_revenue","sum"),
                 net_revenue_est=("net_revenue_est","sum"),
                 gross_margin_est=("gross_margin_est","sum"))
            .sort_values(["net_revenue_est","units_sold"], ascending=False))

def top_products(df_sales: pd.DataFrame, n=10) -> pd.DataFrame:
    """Top products by net revenue."""
    return (df_sales
            .groupby(["product_id"], as_index=False)
            .agg(units_sold=("units_sold","sum"),
                 net_revenue_est=("net_revenue_est","sum"),
                 gross_margin_est=("gross_margin_est","sum"))
            .merge(merch_products[["product_id","product_name","category"]], on="product_id", how="left")
            .sort_values("net_revenue_est", ascending=False)
            .head(n))

# Display quick checks
print("Promotions:", len(promotions))
print("Merch products:", len(merch_products))
print("Sales rows:", len(sales_daily))
print("Moves:", len(moves))
print("\nSales summary:")
display(promo_sales_summary(sales_daily))

print("\nTop products:")
display(top_products(sales_daily, n=10))

print("\nMove usage sample:")
display(move_usage.merge(moves[["move_id","move_name","type"]], on="move_id", how="left"))

Promotions: 10
Merch products: 8
Sales rows: 3
Moves: 10

Sales summary:

,promotion_id,channel,units_sold,gross_revenue,net_revenue_est,gross_margin_est
2,WWE,ecommerce,1200,32389.2,32389.2,24589.2
0,AEW,venue,350,5246.5,5246.5,4721.5
1,NJPW,ecommerce,90,3149.1,3149.1,2339.1

Top products:

,product_id,units_sold,net_revenue_est,gross_margin_est,product_name,category
2,TEE_STD,1200,32389.2,24589.2,T-Shirt (Standard),apparel
1,POSTER,350,5246.5,4721.5,Poster,collectibles
0,FIGURE,90,3149.1,2339.1,Action Figure,collectibles

Move usage sample:

,usage_id,match_date,promotion_id,wrestler_id,move_id,attempts,landed,finish_attempt,notes,success_rate,move_name,type
0,MU0001,2026-02-01,NJPW,GENERIC_001,DRAGON_SCREW,6,5,0,Leg work sequence,0.833333,Dragon Screw,joint
1,MU0002,2026-02-01,AAA,GENERIC_001,TOPE,2,2,0,High-flying spot,1.000000,Tope Suicida,dive